body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  color: var(--color-text-default);
  background: var(--color-bg-canvas);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

code,
kbd,
samp,
pre {
  font-family: var(--font-family-mono);
}

::selection {
  color: var(--color-text-on-action);
  background: var(--color-action-primary);
}
